### Title: Exercice 4.2
### Author: Jerock Kalala
### Date: September 30th 2022
### Professor: David Kinney
### Pandas skills exercises

In [17]:
import pandas as pd
import numpy as np

##### Load the data into a DataFrame and print the results
df=pd.read_csv("E:\Bellevue\Fall_2022\DSC 350 Data Wrangling for Data Scienc\Week_4\WHO_first9cols.csv")
#print("dataframe", df)
df

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0
...,...,...,...,...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0

In [7]:
#Query the number of rows
len(df)

202

In [12]:
#Print the column headers
list(df)

['Country',
 'CountryID',
 'Continent',
 'Adolescent fertility rate (%)',
 'Adult literacy rate (%)',
 'Gross national income per capita (PPP international $)',
 'Net primary school enrolment ratio female (%)',
 'Net primary school enrolment ratio male (%)',
 'Population (in thousands) total']

In [14]:
#Print the data types
df.dtypes

Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object

In [15]:
#Print the index
df.index

RangeIndex(start=0, stop=202, step=1)

#### 2. Using the same file, select the “Country” column and return its data type along with the series shape, index, values, and name.

In [116]:
country=df["Country"]
print("Type df", type(df))
print("Type country column is: ", type(country))

#print data type along with the series shape, index, values, and name of the column
print("\nThe Shape: ", country.shape)
print("The index: ", country.index)
print("\nThe values: ", country.values)
print("\nThe name: ", country.name)

Type df <class 'pandas.core.frame.DataFrame'>
Type country column is:  <class 'pandas.core.series.Series'>

The Shape:  (202,)
The index:  RangeIndex(start=0, stop=202, step=1)

The values:  ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Lithuania' 'Luxembourg' 'Macao, China'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']

The name:  Country

#### 3. Using the Quandl API, import the data

In [27]:
#Using the Quandl API, import the data
import quandl

sunspot = quandl.get("SIDC/SUNSPOTS_A")
sunspot.head()

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
1700-12-31,8.3,NaN,NaN,1.0
1701-12-31,18.3,NaN,NaN,1.0
1702-12-31,26.7,NaN,NaN,1.0
1703-12-31,38.3,NaN,NaN,1.0
1704-12-31,60.0,NaN,NaN,1.0

In [28]:
sunspot.tail()

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
2016-12-31,39.8,3.9,9940.0,1.0
2017-12-31,21.7,2.5,11444.0,1.0
2018-12-31,7.0,1.1,12611.0,1.0
2019-12-31,3.6,0.5,12884.0,1.0
2020-12-31,8.8,4.1,14440.0,1.0

In [30]:
#Query for the last value using the last date
last = sunspot.index[-1]
print("The last value is: ", last)

The last value is:  2020-12-31 00:00:00

In [31]:
#Query the date with date strings in the YYYYMMDD format
print("The value slice by date is: \n", sunspot["20020101" : "20131231"])

The date is:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2002-12-31                             163.6                             9.8
2003-12-31                              99.3                             7.1
2004-12-31                              65.3                             5.9
2005-12-31                              45.8                             4.7
2006-12-31                              24.7                             3.5
2007-12-31                              12.6                             2.7
2008-12-31                               4.2                             2.5
2009-12-31                               4.8                             2.5
2010-12-31                              24.9                             3.4
2011-12-31                              80.8                             6.7
2012-12-31                              84.5                             6.7
2013-12-31                              94.0                             6.9

            Number of Observations  Definitive/Provisional Indicator
Date
2002-12-31                  6588.0                               1.0
2003-12-31                  7087.0                               1.0
2004-12-31                  6882.0                               1.0
2005-12-31                  7084.0                               1.0
2006-12-31                  6370.0                               1.0
2007-12-31                  6841.0                               1.0
2008-12-31                  6644.0                               1.0
2009-12-31                  6465.0                               1.0
2010-12-31                  6328.0                               1.0
2011-12-31                  6077.0                               1.0
2012-12-31                  5753.0                               1.0
2013-12-31                  5347.0                               1.0

In [32]:
#Query with a Boolean, where the number of observations is greater than the mean number of observations
print("Boolean selection", sunspot[sunspot>sunspot.mean()])

Boolean selection             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1700-12-31                               NaN                             NaN
1701-12-31                               NaN                             NaN
1702-12-31                               NaN                             NaN
1703-12-31                               NaN                             NaN
1704-12-31                               NaN                             NaN
...                                      ...                             ...
2016-12-31                               NaN                             NaN
2017-12-31                               NaN                             NaN
2018-12-31                               NaN                             NaN
2019-12-31                               NaN                             NaN
2020-12-31                               NaN                             NaN

            Number of Observations  Definitive/Provisional Indicator
Date
1700-12-31                     NaN                               NaN
1701-12-31                     NaN                               NaN
1702-12-31                     NaN                               NaN
1703-12-31                     NaN                               NaN
1704-12-31                     NaN                               NaN
...                            ...                               ...
2016-12-31                  9940.0                               NaN
2017-12-31                 11444.0                               NaN
2018-12-31                 12611.0                               NaN
2019-12-31                 12884.0                               NaN
2020-12-31                 14440.0                               NaN

[321 rows x 4 columns]

In [38]:
#Query with a Boolean, where the number of sunspots is greater than the mean number of sunspots
print("Boolean selection", sunspot[sunspot['Number of Observations']>sunspot['Number of Observations'].mean()])

Boolean selection             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1981-12-31                             198.9                            13.1
1982-12-31                             162.4                            12.1
1983-12-31                              91.0                             7.6
1984-12-31                              60.5                             5.9
1985-12-31                              20.6                             3.7
1986-12-31                              14.8                             3.5
1987-12-31                              33.9                             3.7
1988-12-31                             123.0                             8.4
1989-12-31                             211.1                            12.8
1990-12-31                             191.8                            11.2
1991-12-31                             203.3                            12.7
1992-12-31                             133.0                             8.9
1993-12-31                              76.1                             5.8
1994-12-31                              44.9                             4.4
1995-12-31                              25.1                             3.7
1996-12-31                              11.6                             3.1
1997-12-31                              28.9                             3.6
1998-12-31                              88.3                             6.6
1999-12-31                             136.3                             9.3
2000-12-31                             173.9                            10.1
2001-12-31                             170.4                            10.5
2002-12-31                             163.6                             9.8
2003-12-31                              99.3                             7.1
2004-12-31                              65.3                             5.9
2005-12-31                              45.8                             4.7
2006-12-31                              24.7                             3.5
2007-12-31                              12.6                             2.7
2008-12-31                               4.2                             2.5
2009-12-31                               4.8                             2.5
2010-12-31                              24.9                             3.4
2011-12-31                              80.8                             6.7
2012-12-31                              84.5                             6.7
2013-12-31                              94.0                             6.9
2014-12-31                             113.3                             8.0
2015-12-31                              69.8                             6.4
2016-12-31                              39.8                             3.9
2017-12-31                              21.7                             2.5
2018-12-31                               7.0                             1.1
2019-12-31                               3.6                             0.5
2020-12-31                               8.8                             4.1

            Number of Observations  Definitive/Provisional Indicator
Date
1981-12-31                  3049.0                               1.0
1982-12-31                  3436.0                               1.0
1983-12-31                  4216.0                               1.0
1984-12-31                  5103.0                               1.0
1985-12-31                  5543.0                               1.0
1986-12-31                  5934.0                               1.0
1987-12-31                  6396.0                               1.0
1988-12-31                  6556.0                               1.0
1989-12-31                  6932.0                               1.0
1990-12-31                  7108.0                               1.0
1991-12-31                  6932.0                               1.0
1992-12-31                  7845.0                               1.0
1993-12-31                  8010.0                               1.0
1994-12-31                  8524.0                               1.0
1995-12-31                  8429.0                               1.0
1996-12-31                  7614.0                               1.0
1997-12-31                  7294.0                               1.0
1998-12-31                  6353.0                               1.0
1999-12-31                  6413.0                               1.0
2000-12-31                  5953.0                               1.0
2001-12-31                  6558.0                               1.0
2002-12-31                  6588.0                               1.0
2003-12-31                  7087.0                               1.0
2004-12-31                  6882.0                               1.0
2005-12-31                  7084.0                               1.0
2006-12-31                  6370.0                               1.0
2007-12-31                  6841.0                               1.0
2008-12-31                  6644.0                               1.0
2009-12-31                  6465.0                               1.0
2010-12-31                  6328.0                               1.0
2011-12-31                  6077.0                               1.0
2012-12-31                  5753.0                               1.0
2013-12-31                  5347.0                               1.0
2014-12-31                  5273.0                               1.0
2015-12-31                  8903.0                               1.0
2016-12-31                  9940.0                               1.0
2017-12-31                 11444.0                               1.0
2018-12-31                 12611.0                               1.0
2019-12-31                 12884.0                               1.0
2020-12-31                 14440.0                               1.0

#### 4. Using the Quandl API, import the data and run the following descriptive stats where Sunspots is not equal to NaN

In [39]:
# Print the results of the describe function
sunspot.describe()

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
count,321.000000,203.000000,203.000000,321.0
mean,78.517134,7.892118,1691.857143,1.0
std,62.091523,3.866310,2913.060813,0.0
min,0.000000,0.500000,150.000000,1.0
25%,24.200000,4.550000,365.000000,1.0
50%,65.300000,7.600000,365.000000,1.0
75%,115.200000,10.350000,366.000000,1.0
max,269.300000,19.100000,14440.000000,1.0

In [40]:
#Print the count of observations
sunspot.count()

Yearly Mean Total Sunspot Number    321
Yearly Mean Standard Deviation      203
Number of Observations              203
Definitive/Provisional Indicator    321
dtype: int64

In [41]:
#Print the mad
sunspot.mad()

C:\Users\jeroc\AppData\Local\Temp\ipykernel_22644\3129789996.py:2: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  sunspot.mad()

Yearly Mean Total Sunspot Number      51.020996
Yearly Mean Standard Deviation         3.177068
Number of Observations              2162.410978
Definitive/Provisional Indicator       0.000000
dtype: float64

In [42]:
#Print the mean
sunspot.mean()

Yearly Mean Total Sunspot Number      78.517134
Yearly Mean Standard Deviation         7.892118
Number of Observations              1691.857143
Definitive/Provisional Indicator       1.000000
dtype: float64

In [43]:
#Print the median
sunspot.median()

Yearly Mean Total Sunspot Number     65.3
Yearly Mean Standard Deviation        7.6
Number of Observations              365.0
Definitive/Provisional Indicator      1.0
dtype: float64

In [44]:
#Print the Max
sunspot.max()

Yearly Mean Total Sunspot Number      269.3
Yearly Mean Standard Deviation         19.1
Number of Observations              14440.0
Definitive/Provisional Indicator        1.0
dtype: float64

In [46]:
#Print the Min
sunspot.min()

Yearly Mean Total Sunspot Number      0.0
Yearly Mean Standard Deviation        0.5
Number of Observations              150.0
Definitive/Provisional Indicator      1.0
dtype: float64

In [47]:
#Print the Mode
sunspot.mode()

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
0,18.3,9.2,365.0,1.0

In [48]:
#Print the standard deviation
sunspot.std()

Yearly Mean Total Sunspot Number      62.091523
Yearly Mean Standard Deviation         3.866310
Number of Observations              2913.060813
Definitive/Provisional Indicator       0.000000
dtype: float64

In [49]:
#Print the variance
sunspot.var()

Yearly Mean Total Sunspot Number    3.855357e+03
Yearly Mean Standard Deviation      1.494835e+01
Number of Observations              8.485923e+06
Definitive/Provisional Indicator    0.000000e+00
dtype: float64

In [50]:
#Print the Skewness
sunspot.skew()

Yearly Mean Total Sunspot Number    0.814781
Yearly Mean Standard Deviation      0.533409
Number of Observations              2.099601
Definitive/Provisional Indicator    0.000000
dtype: float64

#### 5. Using the numpy random data generator, create a dataframe with the following columns (Weather, Food  Price, and Number) (pg. 70 of your text)

In [60]:
from numpy.random import rand
from numpy.random import  seed
from numpy.random import random_integers

df1 = pd.DataFrame({"Weather" : ['cold', 'hot', 'cold', 'hot', 'cold', 'hot', 'cold'],
                    "Food" : ['soup', 'soup', 'icecream', 'chocolate', 'icecream', 'icecream', 'soup'],
                   "Price" : 10 * rand(7),"Number" : random_integers(1, 9,)})
df1

C:\Users\jeroc\AppData\Local\Temp\ipykernel_22644\2714849293.py:7: DeprecationWarning: This function is deprecated. Please call randint(1, 9 + 1) instead
  "Price" : 10 * rand(7),"Number" : random_integers(1, 9,)})

  Weather       Food     Price  Number
0    cold       soup  6.237433       6
1     hot       soup  2.730449       6
2    cold   icecream  5.982072       6
3     hot  chocolate  5.736406       6
4    cold   icecream  7.418865       6
5     hot   icecream  3.635592       6
6    cold       soup  0.599554       6

In [62]:
#Group the data by the weather column and then create a function to iterate through the groups (you should have 2 groups after, for hot and cold)
group_weather = df1.groupby('Weather')
i=0
for name, group in group_weather:
    i+=1
    print("Group", i, name)
    print(group)

Group 1 cold
  Weather      Food     Price  Number
0    cold      soup  6.237433       6
2    cold  icecream  5.982072       6
4    cold  icecream  7.418865       6
6    cold      soup  0.599554       6
Group 2 hot
  Weather       Food     Price  Number
1     hot       soup  2.730449       6
3     hot  chocolate  5.736406       6
5     hot   icecream  3.635592       6

In [110]:
# Your function/variable that you created (weather_group) can be used for aggregation methods – print the first row, last row and mean for each group

print("Weather group first", group_weather.first(), "\n")
print("Weather group Last", group_weather.last(), "\n")
print("Weather group Mean", group_weather.mean())

Weather group first          Food     Price  Number
Weather
cold     soup  6.237433       6
hot      soup  2.730449       6

Weather group Last              Food     Price  Number
Weather
cold         soup  0.599554       6
hot      icecream  3.635592       6

Weather group Mean             Price  Number
Weather
cold     5.059481     6.0
hot      4.034149     6.0

C:\Users\jeroc\AppData\Local\Temp\ipykernel_22644\2995273781.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print("Weather group Mean", group_weather.mean())

In [71]:
print("Weather group Mean", group_weather.mean())

Weather group Mean             Price  Number
Weather
cold     5.059481     6.0
hot      4.034149     6.0

C:\Users\jeroc\AppData\Local\Temp\ipykernel_22644\1504930114.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print("Weather group Mean", group_weather.mean())

In [111]:
# Create another group – on Food (so you would have Weather and Food)

group_wf = df1.groupby(['Weather', 'Food'])
print("Weather-Food", group_wf.groups)

Weather-Food {('cold', 'icecream'): [2, 4], ('cold', 'soup'): [0, 6], ('hot', 'chocolate'): [3], ('hot', 'icecream'): [5], ('hot', 'soup'): [1]}

#### 6. Using the dataframe you created in #5, select the first 3 rows

In [128]:
three=df1[:3]
#or we can use df1.head(3)
print("Here are the first tree rows: \n", three)

Here are the first tree rows:
   Weather      Food     Price  Number
0    cold      soup  6.237433       6
1     hot      soup  2.730449       6
2    cold  icecream  5.982072       6

In [132]:
#Using the concat function from pandas, put the 3 rows you selected back with the original dataframe
frame = [df, three]
result = pd.concat(frame)
result

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Weather,Food,Price,Number
0,Afghanistan,1.0,1.0,151.0,28.0,NaN,NaN,NaN,26088.0,NaN,NaN,NaN,NaN
1,Albania,2.0,2.0,27.0,98.7,6000.0,93.0,94.0,3172.0,NaN,NaN,NaN,NaN
2,Algeria,3.0,3.0,6.0,69.9,5940.0,94.0,96.0,33351.0,NaN,NaN,NaN,NaN
3,Andorra,4.0,2.0,NaN,NaN,NaN,83.0,83.0,74.0,NaN,NaN,NaN,NaN
4,Angola,5.0,3.0,146.0,67.4,3890.0,49.0,51.0,16557.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Zambia,201.0,3.0,161.0,68.0,1140.0,94.0,90.0,11696.0,NaN,NaN,NaN,NaN
201,Zimbabwe,202.0,3.0,101.0,89.5,NaN,88.0,87.0,13228.0,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cold,soup,6.237433,6.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hot,soup,2.730449,6.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cold,icecream,5.982072,6.0

In [141]:
#Using the append function, take those 3 rows and the last 2 rows of the original DataFrame and bring them together
#select the last two rows of the origina dataframe
last_two=df.tail(2)
#bring them together
df2 = three.append(last_two)
df2

C:\Users\jeroc\AppData\Local\Temp\ipykernel_22644\3657327271.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = three.append(last_two)

,Weather,Food,Price,Number,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,cold,soup,6.237433,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,hot,soup,2.730449,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,cold,icecream,5.982072,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,NaN,NaN,Zambia,201.0,3.0,161.0,68.0,1140.0,94.0,90.0,11696.0
201,NaN,NaN,NaN,NaN,Zimbabwe,202.0,3.0,101.0,89.5,NaN,88.0,87.0,13228.0

#### 7. Using the two CSV files dest.csv and tips.csv, we will bring together two datasets, also known as a join

In [167]:
#reading the two files
dfd=pd.read_csv("E:\Bellevue\Fall_2022\DSC 350 Data Wrangling for Data Scienc\Week_4\dest.csv")
dft=pd.read_csv("E:\Bellevue\Fall_2022\DSC 350 Data Wrangling for Data Scienc\Week_4\_tips.csv")

#Using the merge() function, bring dest and tips together on the “EmpNr” column and print the results
print("Merge() on key\n", pd.merge(dfd, dft, on='EmpNr'))

Merge() on key
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

In [168]:
# Using the join() function, query both files and print the results
print("Dest join() Tips\n", dfd.join(dft, lsuffix='Dest', rsuffix='Tips') )

Dest join() Tips
    EmpNrDest       Dest  EmpNrTips  Amount
0          5  The Hague          5    10.0
1          3  Amsterdam          9     5.0
2          9  Rotterdam          7     2.5

In [170]:
#Inner join()
print("Inner join with merge()\n", pd.merge(dfd, dft, how='inner'))

##Outer join()
print("\nThe outer join with merge()\n", pd.merge(dfd, dft, how='outer'))

Inner join with merge()
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

The outer join with merge()
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      3  Amsterdam     NaN
2      9  Rotterdam     5.0
3      7        NaN     2.5

#### 8. Using the WHO_first9cols.csv file, select the first 3 rows, including the headers for these two columns Country & Net primary school enrolment ratio male (%)

In [154]:
df3=df[[df.columns[0], df.columns[-2]]][:3]
df3

       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          NaN
1      Albania                                         94.0
2      Algeria                                         96.0

In [156]:
#Check for missing values
null=pd.isnull(df3)
print("null value are: ", null)

null value are:     Country  Net primary school enrolment ratio male (%)
0    False                                         True
1    False                                        False
2    False                                        False

In [158]:
#Count the number of NaN values
rez=null.sum()
print("The sum of null value are: \n", rez)

The sum of null value are:
 Country                                        0
Net primary school enrolment ratio male (%)    1
dtype: int64

In [162]:
#Print any non-missing values
no_null=pd.notnull(df3)
print("the not null value are: ", no_null)

the not null value are:     Country  Net primary school enrolment ratio male (%)
0     True                                        False
1     True                                         True
2     True                                         True

In [164]:
#Replace the missing values with a scalar value
print("Zero filled\n", df3.fillna(0))

Zero filled
        Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          0.0
1      Albania                                         94.0
2      Algeria                                         96.0